.myName {
  position: relative;
  padding-left: 20px;
}

.myName::before {
  content: "";
  position: absolute;
  top: 70%;
  right: 100%;
  width: 500px;
  height: 2px;
  background-color: var(--mainColor);
}

.hello {
  position: relative;
  width: fit-content;
  font-weight: 600;
}
.hello::after {
  content: "";
  position: absolute;
  top: 65%;
  left: 105%;
  width: 8px;
  height: 8px;
  border-radius: 100vh;
  background-color: var(--mainColor);
}

.scrollDown {
  position: absolute;
  bottom: 60px;
  background-color: red;
}

.downArrow {
  position: relative;
  background-color: red;
}

.angleDown {
  width: 15px;
  height: 15px;
  border: 1px solid #fff;
  border-top: none;
  border-left: none;
  border-bottom-right-radius: 1px;
  transform: rotate(45deg);
}

.arrowItem:first-child {
  position: absolute;
  top: 0px;
  left: 50%;
  translate: -50% 0;
  animation: angleOpacity 1s ease-in-out infinite alternate 0.4s;
}
.arrowItem:nth-child(2) {
  position: absolute;
  top: 10px;
  left: 50%;
  translate: -50% 0;
  animation: angleOpacity 1s ease-in-out infinite alternate 0.5s;
}
.arrowItem:last-child {
  position: absolute;
  top: 20px;
  left: 50%;
  translate: -50% 0;
  animation: angleOpacity 1s ease-in-out infinite alternate 0.6s;
}

@keyframes angleOpacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 600px) {
  .myName h1 {
    font-size: 35px !important;
  }
  .hello span,
  .title h2 {
    font-size: 28px !important;
  }
}
