 
.myName {
  position: relative;
  padding-left: 20px;
}

.myName::before {
  content: "";
  position: absolute;
  top: 70%;
  right: 100%;
  width: 500px;
  height: 2px;
  background-color: var(--mainColor);
}

.hello {
  position: relative;
  width: fit-content;
  font-weight: 600;
}
.hello::after {
  content: "";
  position: absolute;
  top: 65%;
  left: 105%;
  width: 8px;
  height: 8px;
  border-radius: 100vh;
  background-color: var(--mainColor);
}
