body {
  background-color: #191919 !important;
  color: white !important;
}
#follow {
  position: absolute;
  text-align: center;
  transition: all 25ms;
}
#follow::after {
  position: absolute;
  content: ".";
  color: #09c;
  width: 35px;
  height: 35px;
  border: 1px solid #09c;
  border-radius: 100vh;
}
