.navbar {
  top: 25px;
}
.navbar .container {
  background-color: #0d0d0d;
  width: 55% !important;
}
.nav-item .nav-link {
  color: white !important;
  font-size: 14px;
}
.nav-item .nav-link.active,
.nav-item .nav-link:hover {
  color: var(--mainColor) !important;
  transition: color 1s;
}

@media screen and (width <= 550px) {
  .navbar .container {
    width: 90% !important;
  }
}