.panelSection {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
  padding: 4px 10px;
  transition: all 150ms;
  border: 1px solid transparent;
  border-radius: 9px;
}

.panelSection:hover {
  border-color: #dee2e6;
}
.panelSection:hover .panelSectionTitle {
  color: var(--mainColor);
}

.nestedSection:hover {
  color: var(--mainColor);
}

.panelSection[data-selected="true"] {
  border-color: var(--mainColor);
  color: var(--mainColor);
  background-color: #dd6f080e;
}

.panelSection:has(.nestedSection[data-selected="true"]) {
  border-color: var(--mainColor);
}
.panelSection:has(.nestedSection[data-selected="true"]) .panelSectionTitle {
  color: var(--mainColor);
}
