:root {
  --greyColor: #696869;
  --focusedColor: #808081;
  --mainColor: #cc8d04;
}

.primaryBg {
  background-color: #181918 !important;
}
.secBg {
  background-color: #1e1e1f !important;
}
.opensansFont,
.title {
  font-family: "Open Sans", sans-serif;
}
.mutedText {
  color: #737173 !important;
}
.primaryText {
  font-family: "Open Sans", sans-serif;
  color: var(--mainColor);
}

.cursorPointer {
  cursor: pointer;
}
.cursorGrab {
  cursor: grab;
}

.fs-7 {
  font-size: 14px !important;
}

button:disabled {
  cursor: not-allowed !important;
}

/* Fonts */
  @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&display=swap');
@font-face {
  font-family: "MyFont";
  src: local("MyFont"),
    url(../public/fonts/Satoshi_Complete/Fonts/OTF/Satoshi-Black.otf)
      format("woff");
}

.sunFont {
  font-family: 'Nunito Sans', sans-serif;
}


/* Scroll */
/* !Scroll Design */
* {
  scrollbar-width: auto;
  scrollbar-color: #15181d;
}
*::-webkit-scrollbar {
  width: 7px;
}
*::-webkit-scrollbar-track {
  background: #343a41;
}
*::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
}
